// flex 布局
@mixin flex($row:space-between, $col:center) {
  display: flex;
  justify-content: $row;
  align-items: $col;
}

// 背景图复用
@mixin bgImg($w:0,$h:0,$url:'',$size:contain) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
// 定位复用
@mixin position($pos:absolute,$top:0,$left:0,$w:100%,$h:100%) {
  position: $pos;
  top: $top;
  left: $left;
  width: $w;
  height: $h;
}

// 定位背景图
@mixin positionBgImg($top:0,$right:0,$w:0,$h:0,$url:'',$size:contain) {
  position: absolute;
  top: $top;
  right: $right;
  width: $w;
  height: $h;
  background: url($url) no-repeat center;
  background-size: $size;
}
// right定位复用
@mixin positionR($pos:absolute,$top:0,$right:0,$w:100%,$h:100%) {
  position: $pos;
  top: $top;
  right: $right;
  width: $w;
  height: $h;
}

